<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3" data-provider-thread-count="2">
    <listeners>
        <listener class-name="listeners.Listener"></listener>
        <listener class-name="listeners.MethodInterceptor"></listener>
        <listener class-name="listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/vigneshs/Udemy-Channel/Selenium/Udemy-Selenium-Framework">
        <classes>
            <class name="tests.OrangeHRMTest">
            </class>
        </classes>
    </test>
</suite>